node_modules
.expo
dist
.git
*.log
*.tgz
*.tar.gz
_bak*
_final_sync_backup_*
_donor_transplant_backup_*
_nav_backup_*
_gate_backup_*
_engine_fix_backup_*
_hermes_jsc_fix_*
_appconfig_jsc_fix_*
_apk_gate_patch_backup_*
_apk_postunlock_patch_backup_*
_apk_gate_sync_backup_*
_alive_nav_backup_*
MBW_BLOAT_HOLD
*.apk
*.aab
android/app/build
android/build
ios/build

.WORKING_COPY
.alive_audit.json
.donor_transplant_report.json
.merge_audit.json
.runtime_route_walk.json
.eas_finished_android.json
.easignore.bak
app/screens/finalux/*.bak_authflow
android/app/debug.keystore
